main {
display: grid;
grid-template: repeat(12, 1fr) / repeat(12, 1fr);
background-image: url("https://i.imgur.com/mHqV1dN.jpg");
background-position: center;
min-height: 650px;
}

table {
    grid-area: 3/5/span 9/span 4;
    justify-content: center;
    color: #fff;
}

th {
    border: outset;
}